@x-apaas:registry=https://registry.dfy.definesys.cn/repository/apaas-npm-group/
@x-ui:registry=https://registry.dfy.definesys.cn/repository/apaas-npm-group/
registry=https://registry.npmmirror.com/
# shamefully-hoist=true
# 只需要给傻逼得帆依赖提升就好
public-hoist-pattern[]=@x-apaas/*
# public-hoist-pattern[]=@x-apaas/*
# loglevel=error
# public-hoist-pattern[]=@babel/*
# public-hoist-pattern[]=xe-utils
# public-hoist-pattern[]=vxe-table
# public-hoist-pattern[]=xx-vxe-table
# public-hoist-pattern[]=dayjs
