@x-apaas:registry=https://registry.dfy.definesys.cn/repository/apaas-npm-group/
@x-ui:registry=https://registry.dfy.definesys.cn/repository/apaas-npm-group/
registry=https://registry.npmmirror.com/
shamefully-hoist=true